@{
    ViewBag.Title = "Index";
    //Layout = "/Views/Shared/_Layout.cshtml";
}
<h3>Index Content</h3>

@await Html.PartialAsync("Hello")

@{await Html.RenderPartialAsync("Hello");} //

@section Footer {
    Copyright© VeryWel.com, @DateTime.Now.Year. All rights reserved
}

